* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*Header*/

.Header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.Header a {
    margin-right: 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: inherit;

}

.Header a:hover {
    text-decoration: underline;
}

.Header_right {
    color: aliceblue;
    display: flex;
    align-items: center;
    min-width: auto;
    justify-content: space-between 5px;
}

.Header_right .Header_apps {
    margin-right: 10px;
    color: aliceblue;
}

/*Header Ends*/


/** Main body starts **/

.mainBody {
    flex: 1;
    display: flex;
    margin-top: 13%;
    flex-direction: column;

}

.mainBody img{
    object-fit: contain;
    height: 100px;
}


.search_input {
    display: flex;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    height: 30px;
    padding: 10px 20px;
    border-radius: 99px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;

}

.search_input input{
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color:white ;
    font-size: large;
}

.search_input .material-symbols-outlined{
    color: rgb(255, 255, 255);
    margin: 5px;


}


.search_buttons{
    position: relative;
    margin-top: 1px ;
    display: flex;
    justify-content: center;
}

.search_buttons button{
    margin: 10px;
    margin-top: 40px;
    padding: 10px 15px;
    border-radius: 9px;
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .2s;

}

.search_buttons button:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(2,5,1)

}

.search_buttons button:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px blueviolet

}

.search_buttons button::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    

}

.search_buttons button:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

body{
    background-color: rgb(73, 72, 72);
}